#gridContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 120px 1fr fit-content 120px 50px;
}

.navbar>a {
    float: left;
    color:cornsilk;
    text-align: center;
    padding: 14px 16px;
    border-radius: 50%;
    
}

.navbar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #333;
}

.navbar>a:hover{
    color:slateblue;
    background-color:cornsilk;
    text-decoration: underline solid tomato;
}

body {
    background: url("https://i.redd.it/d59s4kubw9y41.png") no-repeat center center fixed;
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 80%; 
}


table, thead, th, tr, td{
    width:50%; 
    border: 2px dashed tomato;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: cornsilk;
}

table{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4; 
}

thead{
    color:slateblue;
}

h3{
    font-family: Tourney;
    color: slateblue;
    text-decoration: underline solid tomato;

}

h1{
    text-align: center;
    color: cornsilk;
    font-family: Tourney;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3; 
    text-decoration: underline 2px solid tomato;
}

p{
    color: slateblue;
}

footer{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7; 
}

footer>p{
    color: cornsilk;
}

footer>i{
    color: cornsilk;
}

ol{
    color: cornsilk;
}

main{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5; 
}

#myList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px ridge cornsilk;
    background-color: cornsilk;
    width: fit-content;
}

#myList>ol{
    color: slateblue;
}

#flexList{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    display: flex;
    justify-content: center;
    align-items: center;
}

img>{
    border: solid tomato;    
}

#adjust{
    border: 10px ridge cornsilk;
    background-color: cornsilk;
}

@media only screen and (min-width:768px){
    #gridContainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px 120px 1fr 200px 50px;
    }

    .navbar{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    footer{ 
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 6; 
    }

    table{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4; 
    }

    h1{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3; 
    }

    main{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4; 
    }

    #flexList{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5; 
    }
}








