#gridContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 60px 1fr 50px;
}

.navbar a {
    float: left;
    color:cornsilk;
    text-align: center;
    padding: 14px 16px;
    text-decoration: bold;
    border-radius: 50%;
}

.navbar {
    background-color: #333;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

a:hover{
    background-color: cornsilk;
    color: slateblue;
}
body {
    background: url("https://c4.wallpaperflare.com/wallpaper/256/811/670/nurburgring-wallpaper-preview.jpg") no-repeat  fixed;
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 80%;
}

.Categories{
    display:flex;
    justify-content: space-between;
    border: 10px ridge cornsilk;
    margin-top: 50px;
    flex-wrap: wrap;
    color:slateblue;
    margin: 20px;
    background-color: cornsilk;
    
    
}

img{
    margin-right:10px;
    margin-bottom:10px;
    width: 350px;
    border: solid tomato;
}

footer{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    color: cornsilk;
}

h1{
    font-family: Tourney;
    color: slateblue;
    text-decoration: underline 2px solid tomato;
    
}

h3{
    color: slateblue;
    text-decoration: underline 2px solid tomato;
}

#header{
    font-family: Tourney;
    color: cornsilk; 
    text-align: center;
    text-decoration: underline 2px solid tomato;
    font-weight: bolder;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

main{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

#grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

}

@media only screen and (min-width: 768px){
    #grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    
    }

}

@media only screen and (min-width:1366px){
    #grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
}



  



