.class1{
    color: darkgreen; text-align: center;
    font-family: Georgia;
}

#id1{
    text-align: center;
    font-family: Georgia;
}

#id2{
    text-transform: uppercase;
}

p{
    line-height: 25px;
}

ul li{
    color: red;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

img{
    float: left;
    padding-right: 20px;
}
